* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c2c5aa;
  background-color: #333d29;
  font-size: 2rem;
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: center; */
  align-items: center;
  padding: 10vh 20vw;
  background-color: #c2c5aa;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c2c5aa;
  background-color: #333d29;
  font-size: 2rem;
  font-weight: 300;
}

.add-book-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.4);
}

.add-book-modal-content {
  position: fixed;
  width: 30vw;
  height: 20vh;
  left: 35vw;
  top: 20vh;
  background-color: #a4ac86;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.4);
}

.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
